
<ion-view view-title="{{location.currentCity}}">
  <ion-content>

    <div class="container-fluid white">
      <div class="row text-center">
        <table class="table">
          <tbody>
            <tr>
              <td class="left">
                <strong>Your saved city:</strong>
              </td>
              <td class="right">
                <strong>{{location.currentCity}}</strong>
                <button class="btn btn-red" ng-click="saveLocation(location)">save this city</button>
              </td>
            </tr>
            <tr>
              <td class="left">
                <strong>Nearest Metro Station:</strong>
              </td>
              <td class="right">
                <strong>{{location.nearestStation}}</strong>
                <br>
                <strong>({{location.miles}} miles away)</strong>
              </td>
            </tr>
          </tbody>
        </table>
  </div>

  </div>
</ion-content>
  <div class="row text-center">

    <button class="btn btn-red" ng-click="setAsHome(location)">set as home</button>

    <button class="btn btn-primary" ng-click="saveLocation(location)">save location</button>

  </div>

    <div class="col-xs-12 card" ng-repeat="(route, times) in location.departures">

<div class="card-header">

        <h2 class="text-center">{{route}}</h2>
      </div>
      <div class="card-block">
        <ul>
          <li ng-repeat="time in times">{{time}}</li>
        </ul>
    </div>
  </div>

  </div>

  </ion-content>
</ion-view>
